<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Teams</h1>
    <ul>
        {% for team in teams %}
            <li>{{ team.name }}</li>
        {% endfor %}
    </ul>
    <button onclick="location.href='{{ url_for('welcome') }}'">Go Home</button>
</body>
</html>
